.experiencia {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  border-radius: .25rem;
  background: #292929;
  margin: 0 auto;
  z-index: -1;
}
.experiencia-container {
  position: relative;
  top: 80px;
  left: 22px;
  max-width: 1022px;
  width: 100%;
  height: 70%;
}

.experiencia .t-experiencia {
  color: #141414;
}

.experiencia-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.experiencia-grid .experiencia-item {
  display: flex;
  flex-direction: column;
  row-gap: .8rem;
  border: solid 2px #7A7A7A;
  padding: 1.875rem 1.25rem 3rem 1.25rem;
}

.experiencia-grid .experiencia-item:nth-child(1) {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-width: 2px 0 2px 2px;
}

.experiencia-grid .experiencia-item:nth-child(3) {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-width: 2px 2px 2px 0;
}

.experiencia-item .data {
  font-size: 1rem;
  color: #000;
}

.experiencia-item .cargo {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.experiencia-item .nome-empresa {
  font-size: 1.5rem;
  color: #525252;
}

.experiencia-item .atribuicoes {
  line-height: 1.5;
  color: #B8B8B8;
}

@media (max-width: 1200px) {
  .experiencia-container {
    max-width: 846px;
  }
}

@media (max-width: 1024px) {
  .experiencia-grid .experiencia-item {
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  .experiencia {
    height: 900px;
  }

  .experiencia-container {
    max-width: 640px;
    height: auto;
  }

  .experiencia-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .experiencia {
    top: -80px;
  }
}

@media (max-width: 768px) {
  .experiencia {
    top: -50px;
    height: 850px;
  }

  .experiencia h2 {
    font-size: 2.5rem;
    margin-left: -3px;
    margin-bottom: 1.5rem;
  }

  .experiencia-container {
    max-width: 644px;
    top: 0;
    left: 0;
  }

  .experiencia-grid .experiencia-item:nth-child(1) {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-width: 2px 2px 0 2px;
  }
  
  .experiencia-grid .experiencia-item:nth-child(3) {
    border-top-right-radius: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-width: 0 2px 2px 2px;
  }
}

@media (max-width: 600px) {
  .experiencia {
    top: 0;
    height: 850px;
    padding: 0 1rem;
  }

  .experiencia h2 {
    font-size: 2.5rem;
    margin-left: -3px;
    margin-bottom: 1.5rem;
  }

  .experiencia-container {
    max-width: 644px;
    top: 0;
    left: 0;
  }

  .title.t-experiencia {
    color: #E0E0E0;
  }
}

@media (max-width: 360px) {
  .experiencia {
    height: auto;
    padding: .5rem;
  }

  .experiencia h2 {
    font-size: 2.5rem;
    margin-left: -3px;
    margin-bottom: 1.5rem;
  }

  .experiencia-container {
    max-width: 644px;
    top: 0;
    left: 0;
  }
}