*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

#experiencia-formacao {
  padding: 0 3rem;
  margin-bottom: 2rem;
}

#experiencia-formacao section:nth-child(2) {
  padding: 0 1rem;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.title {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-left: -4px;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  #experiencia-formacao {
    padding: 0 2rem;
  }
}

@media (max-width: 600px) {
  #experiencia-formacao {
    padding: 0 1rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

/* @media (max-width: 375px) {
  main section:nth-child(2) {
    padding: 0 1rem;
  }
} */

@media (max-width: 360px) {
  #experiencia-formacao {
    padding: 0 .5rem;
  }
}
